@import 'vendor/normalize';
@import 'vendor/video-js.min';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$root-color: rgb(26, 113, 193);
$ponpe-base-color: $root-color;
$ponpe-light-color: rgb(224, 224, 224);
$ponpe-dark-color: rgb(32, 32, 32);

@font-face {
  font-family: 'Dual-300';
  font-style: normal;
  font-weight: 300;
  src: font-url('Dual-300-Subset.woff') format('woff');
}

@font-face {
  font-family: 'NotoSansCJKjp-Ponpe';
  font-style: normal;
  font-weight: 100;
  src: local("NotoSansCJKjp-Bold.otf"),
  local("NotoSansJP-Bold.otf"),
  font-url('NotoSansCJKjp-Ponpe-Thin.woff') format('woff');
}

@font-face {
  font-family: 'NotoSansCJKjp-Ponpe';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSansJP-Regular.otf'),
  local("NotoSansCJKjp-Bold.otf"),
  local("NotoSansJP-Bold.otf"),
  font-url('NotoSansCJKjp-Ponpe-Regular.woff') format('woff');
}

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: font-url('icomoon.woff') format('woff');
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google {
  margin: 0 .5rem;
}
.icon-google:before {
  content: "\e900";
  font-size: 1.5rem;
}

.icon-line:before {
  content: "\e901";
  font-size: 3rem;
}



$root-font-family: 'Noto Sans', 'Noto Sans CJK JP', 'NotoSansCJKjp-Ponpe', sans-serif;
$logo-font-family: 'Dual-300';
$icon-font-family: 'icomoon';

$category-color-list: rgb(244, 67, 54), rgb(68, 138, 255), rgb(76, 175, 80), rgb(96, 125, 139), rgb(63, 81, 181), rgb(124, 77, 255), rgb(121, 85, 72), rgb(0, 188, 212), rgb(224, 64, 251);
$category-list: anime, music, variety, drama, cinema, sports, information, news, etc;

// base settings
html {
  font-family: $root-font-family;
  box-sizing: boborder-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: $ponpe-light-color;
  text-decoration: none;

  &:hover {
    color: lighten($ponpe-base-color, 20%);
  }

  &:active {
    color: darken($ponpe-base-color, 10%);
  }
}

:placeholder-shown {
  color: darken($ponpe-light-color, 20%);
  font-family: $root-font-family;
}
::-webkit-input-placeholder {
  color: darken($ponpe-light-color, 20%);
  font-family: $root-font-family;
}
:-moz-placeholder {
  color: darken($ponpe-light-color, 20%);
  font-family: $root-font-family;
  opacity: 1;
}
::-moz-placeholder {
  color: darken($ponpe-light-color, 20%);
  font-family: $root-font-family;
  opacity: 1;
}
:-ms-input-placeholder {
  color: darken($ponpe-light-color, 20%);
  font-family: $root-font-family;
}

// background image
.fixed-bg {
  background: linear-gradient(rgba($ponpe-base-color, .25), rgba($ponpe-base-color, .80)), image-url('splash_sp.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

// container
.container {
  margin: 0 auto;
  padding: 0 .5rem;
}

.container-dark {
  background-color: rgba($ponpe-dark-color, .75);
  padding: 0;
  height: auto;
  min-height: 100%;
  box-shadow: 0 0 1rem rgba($ponpe-dark-color, .5);
}

.main-container {
  display: flex;
  flex-direction: column;
  padding-top: 4.5rem; // navbaråˆ†
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.video-list-container {
  display: flex;
  flex-direction: column;
}

.video-container {
  display: flex;
  margin: .1rem 0;
  background-color: rgba($ponpe-dark-color, .25);
  border: 1px solid lighten($ponpe-dark-color, 20%);
  box-shadow: 0 0 .5rem rgba($ponpe-light-color, .2);

  &:hover {
    background-color: rgba(darken($ponpe-light-color, 20%), .25);
  }
}

.video-thumbnail-container {
  position: relative;
  width: 128px;
  height: 72px;
}

.video-title-container {
  padding: 0 .4rem;
  position: relative;
  width: calc(100% - 128px - .8rem);
}

.box {
  flex: 1;
  margin: .2rem 0;
  padding: .2rem 0;
  width: 100%;
  height: 100%;
  background-color: rgba(darken($ponpe-dark-color, 20%), .25);
  border-top: 1px solid lighten($ponpe-dark-color, 20%);
  border-bottom: 1px solid lighten($ponpe-dark-color, 20%);
}

.box > a:hover  {
  color: lighten($ponpe-base-color, 20%);
}
.box > a:active {
  color: darken($ponpe-base-color, 10%);
}

.box-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.box > h1 {
  padding: .2rem .5rem;
  color: $ponpe-light-color;
}

.box > h3 {
  padding: .2rem .5rem;
  color: rgba($ponpe-light-color, .75);
}

.state-block {
  color: darken($ponpe-light-color, 30%);
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  padding: .1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.state-block:after {
  border-right: 1px solid lighten($ponpe-dark-color, 10%);
}

.state-block > h1 {
  font-size: 1rem;
}

.state-block > p {
  font-size: 1.2rem;
}


.box > .btn > .material-icons {
  font-size: 3rem;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.embed-responsive > video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

// navigation
.navbar {
  display: flex;
  flex-direction: column;
  background-color: $ponpe-dark-color;
  color: $ponpe-light-color;
  display: flex;
  line-height: 1.5rem;
}

.navbar > .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar-fixed-top {
  border-bottom: 1px solid $ponpe-base-color;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-family: $logo-font-family;
  font-size: 1.5rem;
  margin: .5rem .25rem .5rem .5rem;
}

.navbar-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: .5rem;
}

.navbar-search-icon {
  cursor: pointer;
}

.navbar-search-form {
  display: none;
  margin: 0 .3rem 0 .7rem;
  width: 100%;
}

.navbar-search-form > input {
  box-sizing: border-box;
  background-color: rgba($ponpe-light-color, .05);
  color: $ponpe-light-color;
  padding: 0 .5rem;
  outline: none;
  border: solid .0625rem $ponpe-base-color;
}

.navbar-search-form-input {
  width: 100%;
}

.overlay-search {
  background-color: rgba($ponpe-dark-color, .8);
  display: none;
  height: auto;
  min-height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.submenu {
  border-top: 1px solid darken($ponpe-dark-color, 10%);
  box-shadow: rgba(255, 255, 255, .1) 0 1px 0 inset;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
}

.menu-item {
  display: inline-flex;
  justify-content: center;
  min-width: 3rem;
  padding: .2rem .5rem;
}

.login-title {
  color: $ponpe-light-color;
  font-family: $logo-font-family;
  font-size: 5rem;
  font-weight: 300;
  line-height: 6rem;
}

.login-description {
  color: $ponpe-light-color;
  font-size: 1.35rem;
  font-weight: 100;
  letter-spacing: .5rem;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    color: $ponpe-dark-color;
    background-color: rgba($ponpe-light-color, .2);
  }
}

.btn-login {
  margin: 2rem 0;
  text-transform: uppercase;
  letter-spacing: .1rem;
  border-radius: .5rem;
  border: .0625rem solid $ponpe-light-color;
  padding: 1.2rem 2rem;
  font-size: .8125rem;
  transition: all 0.2s ease-in-out;
}

.btn-block {
  justify-content: center;
  flex-grow: 1;
  padding: 1rem;
}

.title {
  color: $ponpe-light-color;
  padding: .2rem .5rem;
  font-weight: 400;
}

.video-count {
  color: $ponpe-light-color;
  font-size: .7rem;
  padding: .2rem .7rem;
}

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

// video parts
.video-thumbnail {
  width: 100%;
}

.video-duration {
  background: rgba($ponpe-dark-color, .7);
  bottom: .125rem;
  color: darken($ponpe-light-color, 10%);
  font-size: .75rem;
  margin: 0;
  padding: .125rem;
  position: absolute;
  right: .1rem;
}

.label-published {
  color: nth($category-color-list, 2);
}

.label-archived {
  color: nth($category-color-list, 4);
}

.video-sticky-archived {
  background: rgba($ponpe-dark-color, .5);
  color: $ponpe-light-color;
  font-size: .6rem;
  line-height: 1;
  position: absolute;
  left: 0;
  bottom: 0;
}

@each $category in $category-list {
  $idx-category: index($category-list, $category);

  .color-#{$category} {
    color: nth($category-color-list, $idx-category);
  }

  .label-#{$category} {
    color: nth($category-color-list, $idx-category);
  }

  .menu-item-#{$category} {
    background-color: nth($category-color-list, $idx-category);
  }

  .menu-item-#{$category} {
    //border-bottom: .5rem solid nth($category-color-list, $idx-category);
  }

  .video-sticky-#{$category} {
    background: nth($category-color-list, $idx-category);
    color: $ponpe-light-color;
    font-size: .6rem;
    line-height: 1;
    position: absolute;
  }

  .video-sticky-t-#{$category} {
    padding: .3rem .2rem;
    left: 0;
    text-align: center;
    top: 0;
  }
}

.video-description {
  font-size: .6rem;
  font-weight: 100;
  line-height: .8rem;
}

.video-title {
  font-size: .8rem;
}

.video-date {
  bottom: 0;
  font-size: .5rem;
  font-weight: 100;
  position: absolute;
  right: .2rem;
}

.pagination {
  border-radius: .25rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
  font-size: 2rem;
}

.pagination > li {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  line-height: 1;
  border: 1px solid lighten($ponpe-dark-color, 20%);
  line-height: 1.5;
}

.pagination > li > a,
.pagination > li > span {
  background-color: rgba($ponpe-dark-color, .5);
  padding: .5rem .75rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin-left: -1px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background-color: rgba(darken($ponpe-light-color, 20%), .25);
}

.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover,
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover {
  width: 100%;
  text-align: center;
  background-color: rgba(darken($ponpe-dark-color, 10%), .25);
  color: lighten($ponpe-dark-color, 20%);
  cursor: not-allowed;
}

.pagination > .current > span,
.pagination > .current > span:focus,
.pagination > .current > span:hover,
.pagination > .current > a,
.pagination > .current > a:focus,
.pagination > .current > a:hover {
  color: lighten($ponpe-base-color, 10%);
}

// for PC
@media (min-width: 48rem) {
  .fixed-bg {
    background: linear-gradient(rgba($ponpe-base-color, .25), rgba($ponpe-base-color, .80)), image-url('splash.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .container-dark {
    margin: 0 5rem;
  }

  .video-list-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .video-container {
    flex-direction: column;
    width: 192px;
    padding: 0;
    margin: .4rem .2rem;
  }

  .video-thumbnail-container {
    width: 192px;
    height: 108px;
  }

  .video-title-container {
    padding: .1rem;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .video-description {
    margin: .0625rem 0;
  }

  .video-date {
    position: relative;
    text-align: right;
    margin: .0625rem 0;
  }

  .line-clamp-2 {
    display: block;
    white-space: nowrap;
  }

  @each $category in $category-list {
    $idx-category: index($category-list, $category);

    .video-sticky-#{$category} {
      background: nth($category-color-list, $idx-category);
      color: $ponpe-light-color;
      font-size: 12px;
      line-height: 1;
      position: absolute;

      &:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
      }
    }

    .video-sticky-t-#{$category} {
      padding: .4em .2em;
      left:13.5em;
      text-align: center;
      top: -.5em;
      width: 1.5em;
      word-wrap: break-word;

      &:after {
        border-bottom: 6px solid lighten(nth($category-color-list, $idx-category), 15%);
        border-right: 6px solid transparent;
        left: 100%;
        top: 0;
      }
    }
  }

  .pagination {
    justify-content: center;
  }

  .pagination > li.current {
    flex-grow: 4;
  }
}

@media (min-width: 1440px) {
  .container-dark {
    margin: 0 auto;
    width: 1280px;
  }
}
